body {
    background-color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
    align-content: center;
    align-items: center; 
    margin:0;
}



#text-overlay {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px; 
    height:auto;
    color: white; 
    position: relative; 
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
  }

nav{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    text-decoration: none;
}

#nav_1{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px; 
    height:auto;
    color: white; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
    color:orangered;
  
  }

.nav_2{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly
}
#CD-4-Graph{
    max-width: 805px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
#marmorato_graph {
    height: auto;
    max-width: 805px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.scene {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.scene.active {
    opacity: 1;
    z-index: 2;
}

@media only screen and (max-width:696px) and (orientation: portrait) {
    body {
        background-color: aliceblue;
        display:flex;
        flex-direction:column;
        font-family: 'Nunito Sans', sans-serif;
        justify-content: center;
        margin: 0 auto; 
        overflow-y: scroll;
        font-size: 12px;
        width:396px;
        
    }
    #text-container{
        display:none;
    }
    h1{
        font-size: 12px;
        text-align: center;
    }
  
#CD-4-Graph {
        width:396px;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto; 
       
    }
  
    #marmorato_graph {
        display: flex;
        width:396px;
        height: auto;
        margin: 0 auto; 
        justify-content: center;
        display:flex;
    } 
   
    .nav_1{
        color:orangered;
        width:396px;
        margin: 0 auto;
        text-align: center; 
        justify-content: center;
      }
   
    #text-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px;
      border-radius: 5px;
      color: white;
      position: relative;
      z-index: 2;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 40px);
    }
    #text-overlay-1 {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 5px;
        color: white;
        position: relative;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
