body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    margin: 0 auto;
    max-width: 100%;
  
}

#btn-img{
    width: 16px; 
    margin-top:-15px; 
     margin-left: 233px;
}

label p {
    margin-bottom: 6px;
}
/* #submit{
    align-self: center; 
    font-weight: bold; 
    cursor: pointer; 
    height: 16px;
    margin-top:-15px;
    margin-left:135px;
} */

#cdButton{
    margin-left:-31px;
    margin-bottom: -30px;
    background: none;
    border:none;
    font-size: 16px;
    width:250px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}



#footer{
    /* background-color: whitesmoke; */
    border-top: solid purple;
    opacity: 90%;
}

article{
    margin: 0 auto;
}


#header_img {
    /* padding-top:10px; */
    max-width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 0;
    /* position: sticky;
    z-index: 1; */
}

#intro_Grafs{
    max-width: 100%;
    /* background-color:lightsteelblue; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom:30px;
    align-items: center;
    /* position: relative;
    z-index: 2; */
}

#intro_Grafs p{
    display:flex;
    width:650px;
    flex-direction: column;
}

 #header h1  {
        justify-content: center;
        text-align: center;
        /* width: 50%; */
        margin: 0 auto;
 }

 #flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:950px;
    max-width: 100%;
 }
.current_reps, .current_reps h1{
  display:grid;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
  padding-top:10px;
  height:auto;
}

#torres{
    width:70%;
    
}

#data-input{
  
    padding-top:30px;
    border-radius: 30px;
}


input{
    caret-color:cornflowerblue;
    
    
}

.faded-input:focus {
    color: black;
}
.faded-input {
    color: gray;
    text-align: center;
}
nav{
    display:flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0 auto;

    width:70%;
    /* border-bottom: solid purple;; */
}

.btn-icon{
    border:none;
    font-size: 12px;
    color:black;
    display: flex;
    flex-direction: column;  
    margin-top: -14px;
    margin-left: 91px;
    margin-top: -17px;
    margin-left: 102px;
    justify-content: center;
    align-self: center; 
    font-weight: bold; 
    cursor: pointer; 
    height: 16px;
}

#cd-Input{
    border:none;
    font-size: 12px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.first-half, .second-half, .final-half, .last-rep{
    display: grid;
    max-width: 100%;
    margin:0 auto;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
    justify-items: center;
    align-items: center;
    grid-row: 2px;
}

  
  .first-half li, .second-half li,  .final-half li, .last-rep li {
    /* background: aliceblue; */
    text-decoration: none;
    list-style:none;
    border-radius: 8px;
    margin: 20px;

    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    border-bottom: solid darkred;
    border-top: solid darkblue;
  }
  
  .first-half li:hover, .second-half li:hover, .final-half li:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }
  
.first-half img,  .second-half img, .final-half img {
    width: 30%; 
    height: auto;
    background:transparent;
    background-color: aliceblue;
    border-radius: 50%;
}

  .first-half p,  .second-half p, .final-half p, .last-rep p{
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }



/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */


@media screen and (max-width:430px) and (orientation:portrait) {

    body {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .btn-icon{
        border:none;
        font-size: 12px;
        color:black;
        display: flex;
        flex-direction: column;  
        margin-top: -14px;
        margin-left: 91px;
        margin-top: -17px;
        margin-left: 102px;
        justify-content: center;
        align-self: center; 
        font-weight: bold; 
        cursor: pointer; 
        height: 16px;
    }
 


    #data-input{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 415px;
        margin-left: -35px;
    }


  
    
#btn-img{
    width: 16px;
    margin-top: -18px;
    margin-left: 183px;
    }

    #find-cd{
        width: 200px;
        margin-top: -6px;
        margin-left: 52px;
    }
    
       


#cd-Input{
    width: 139px;
    font-size: 14px;
    margin-left: -46px;
}
label p {
    margin-left: -12px;
    margin-bottom: 3px;
}

#cdBtn{
margin-left:-11px;

}




 #intro_Grafs{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom:40px;
    align-items: center;
    align-content: center;
}

#intro_Grafs p{
    padding-top:30px;
    justify-content:center;
    margin: 0 auto;
    width:375px;
}
h1, h2, h3, h4, h5{
    align-content: center;
    padding-bottom:10px;
    padding-top:10px;
    /* width: 40px; */
    text-align: center;
    width:325px;
    margin: 0 auto;
}

.first-half, .second-half, .final-half {
    grid-template-columns: auto auto;
    width:450px;
}


.current_reps:hover, .first-half li:hover, .second-half li:hover, .final-half li:hover {
    box-shadow: none;
    transform: none;
  }

}