body {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Nunito Sans', sans-serif;
    align-content: center;
    align-items: center; 
    margin:0;
}
#header_img{
    max-width: 100%;
    top: 0;
    height:fit-content;
    position: sticky;
    z-index: 1;
  }

  #nav_1{
    background-color: rgba(0, 0, 0, 0.7); 
    display: block !important;
    padding: 15px;
    border-radius: 5px; 
    width: fit-content;
    height:auto;
    color: white; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
    color:orangered;
  }

#text-overlay {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px; 
    height:auto;
    color: white; 
    position: relative; 
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
  }

#text-overlay-1 {
    background-color: rgba(0, 0, 0, 0.7); 
    display: block !important;
    padding: 15px;
    border-radius: 5px; 
    width: fit-content;
    height:auto;
    color: white; 
    top: 0;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
  }




#text-overlay-1 p {
    animation: bounce .5s infinite;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

nav{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    text-decoration: none;
}
.nav_2{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly
}
#sticky{
    position:sticky;
    background-color: aliceblue;
    text-align: center;
}
#hed_dek{
    text-align:center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
#hed_dek h1{
    font-size: 30px;
}
#hed_dek h2{
    font-size: 28px;
}

#hed_dek h1, .hed_dek h2{
    margin-top: 0;
    margin-bottom: 0;
    
}




#dem{
    color:#000080;
    
}
#gop{
    color:darkred;
}

#test{
    margin: 1em auto;
    align-items: center;
}


#find_pollsite {
    display: none;
    margin: 1em auto;
    width: 650px;
    height: 500px;
    border: aliceblue;
    justify-content: center;
    align-items: center; 

}
#current_reps {
    max-width: 100%; 
    position: relative;
    z-index:2;
    display:grid;
    grid-auto-flow: row;
    text-align: center;
    justify-content: center;
    border-color: transparent;
    color:aliceblue;
    margin: 0 auto;
    height: auto;
}


#current_reps h1 {
    font-size: 24px;
    text-align: center;

}
#current_reps ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
   
}
#current_reps li {
    
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   

}
#current_reps li img {
    max-width: 100%;
    height:auto;
    
}
.first_half, .second_half, .last_half{
    max-width: 100%; 
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    list-style: none;
    padding: 0;
    
    
}

#Tom_Suozzi{
    opacity: 100px;
}

.scene {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.scene.active {
    opacity: 1;
    z-index: 2;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: 'Nunito Sans', sans-serif;
        align-content: center;
        align-items: center;  
        margin:0;
    }
    #header_img{
        width: 450px;
        top: 0;
        height:auto;
        position: sticky;
        z-index: 1;
      }
    .nav_1{
        color:orangered;
        max-width:100%;
        text-align: center; 
      }
   

    /* #text-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px;
      border-radius: 5px;
      color: white;
      position: relative;
      z-index: 2;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      max-width: calc(100% - 40px);
    } */
  }
