body {
    background-color: aliceblue;
    display:flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Nunito Sans', sans-serif;
    align-content: center;
    align-items: center; 
}

nav{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
.nav_2{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly
}
#sticky{
    position:sticky;
    background-color: aliceblue;
    text-align: center;
}
#hed_dek{
    text-align:center;
    position: relative;
    width: 100%; /* Ensure container takes up full width of its parent */
    margin-bottom: 20px; /* Add margin to create space between containers */
}
#hed_dek h1{
    font-size: 30px;
}
#hed_dek h2{
    font-size: 28px;
}

#hed_dek h1, .hed_dek h2{
    margin-top: 0;
    margin-bottom: 0;
    
}

#header_img{
  width:fit-content;

  display: block !important;
  top: 0;
  height:fit-content;
  position: sticky;
  z-index: 1;
}

#text-overlay {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px; 
    height:auto;
    color: white; 
    position: relative; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
  }

#text-overlay-1 {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px; 
    width: fit-content;
    height:auto;
    color: white; 
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 40px); 
    z-index: 2;
  }

#dem{
    color:#000080;
    
}
#gop{
    color:darkred;
}



#find_pollsite {
    display: none;
    margin: 1em auto;
    width: 650px;
    height: 500px;
    border: aliceblue;
    justify-content: center;
    align-items: center; 

}
#current_reps {
    max-width: 100%; 
    display:grid;
    grid-auto-flow: row;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    height: auto;
}
#current_reps h1 {
    font-size: 24px;
    text-align: center;

}
#current_reps ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
   
}
#current_reps li {
    
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   

}
#current_reps li img {
    max-width: 100%;
    height:auto;
    
}
.first_half, .second_half, .last_half{
    max-width: 100%; 
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    list-style: none;
    padding: 0;
    
}

#Tom_Suozzi{
    opacity: 100px;
}